/* styles/login.css */

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .login-error {
    color: red;
    font-size: 14px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-link {
    color: #007bff;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }

  